{% extends 'layout/basic.html' %}
{% load i18n crispy_forms_tags %}
{% block title %}{% translate "Accounts List" %}{% endblock  %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
	<div class="row m-4 p-4 border rounded shadow-sm">
		<h1 class="text-primary ">{% translate "Accounts List (added your invite code)" %}</h1>
		{% for account in account_list %}
		<div class="col-12">
			<h4 class="m-1 fw-bold">{% translate "Phone number: " %}{{ account.get_username }}</h4>
			<div class="row m-1">
				<div class="col-md-12">
					<p class="h5">{% translate "Username: " %}<small class="text-muted">{{ account.username }}</small></p>
				</div>
				<div class="col-md-12">
					<p class="h5">{% translate "Full name: " %}<small class="text-muted">{{ account.get_full_name }}</small></p>
				</div>
				<div class="col-md-12">
					<p class="h5">{% translate "Email: " %}<small class="text-muted">{{ account.email }}</small></p>
				</div>
			</div>
		</div>
		{% empty %}
		<div class="col-12">
			<h4 class="m-1 fw-bold">{% translate "Accounts not found" %}</h3>
		</div>
		{% endfor %}
	</div>
</div>
{% else %}
<div class="container-fluid d-flex h-100 justify-content-center align-items-center p-4">
	<div class="row bg-white border rounded shadow-sm">
		<div class="col-12 pt-4">
			<h2 class="text-center mb-4">{% translate "Log in to System" %}</h2>
		</div>
		<div class="col-12 pb-4  d-flex justify-content-md-center">
			<a href= {% url 'account:login' %} class="btn mx-auto btn-primary btn-lg" role="button" aria-disabled="true">{% translate "Login" %}</a>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}
